@charset "UTF-8";
/** @format */
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  background: #1c1c1c;
}

.dlg-modal {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  position: fixed;
  left: 50%;
  z-index: 10;
  padding: 35px 36px;
  /* background: #fff; */
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
}

.dlg-modal-fade {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.dlg-modal-slide {
  top: -20px;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  visibility: visible;
  opacity: 1;
}

/* .closer:hover {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
} */
/* animation */
.fadeIn,
.fadeOut,
.slideInDown,
.slideOutUp {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes slideInDown {
  from {
    top: -20px;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }
  to {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@keyframes slideInDown {
  from {
    top: -20px;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }
  to {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-wrapper {
  font-size: 14rem;
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal-wrapper__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal-wrapper__bg img {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-wrapper .main-wrapper {
  height: 100%;
}

.active-hover span {
  position: relative;
}

.active-hover span:after {
  opacity: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: -1px;
  background-color: #55ff00;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.active-hover:hover span:after {
  opacity: 1;
}

.modal__closer {
  position: relative;
}

.modal__closer span {
  margin-left: 5px;
}

.madal__registration {
  margin-right: 5px;
}

.modal__top {
  position: relative;
  padding-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  text-transform: uppercase;
  font-size: 17rem;
  font-weight: 700;
  letter-spacing: 2rem;
  cursor: pointer;
}

.modal__middle {
  position: relative;
  margin-top: 30px;
}

@media (max-width: 500px) {
  .modal__middle {
    height: calc(100vh - 51px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.modal__middle--smallMargin {
  margin-top: 6px;
}

.modal__middle--bigMargin {
  margin-top: 12vh;
}

@media (max-width: 500px) {
  .modal__middle--bigMargin {
    margin-top: 40px;
  }
}

.modal__remind-password {
  cursor: pointer;
}

.form-modal {
  margin-top: 63px;
}

@media (max-height: 600px) {
  .form-modal {
    margin-top: 13px;
  }
}

.form-modal--smallMargin {
  margin-top: 3px;
}

.form-modal--bigMargin {
  margin-top: 12vh;
}

@media (max-width: 500px) {
  .form-modal--bigMargin {
    margin-top: 40px;
  }
}

.form-modal__title {
  font-size: 62rem;
  margin-left: 24px;
  line-height: 0.97;
  letter-spacing: 28.77px;
  font-weight: 700;
}

@media (max-height: 600px) {
  .form-modal__title {
    font-size: 30rem;
  }
}

.form-modal__wrapper {
  max-width: 516px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .form-modal__wrapper {
    height: calc(100vh - 354px);
  }
}

.form-modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 500px) {
  .form-modal__form {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
}

.form-modal__form--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-modal__input {
  margin-top: 34px;
  position: relative;
  background: inherit;
  padding: 8px 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 25rem;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.form-modal__input::-webkit-input-placeholder {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.form-modal__input:-ms-input-placeholder {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.form-modal__input::-ms-input-placeholder {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.form-modal__input::placeholder {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.form-modal__input:active, .form-modal__input:hover, .form-modal__input:focus {
  border-bottom: 1px solid white;
  color: white;
}

.form-modal__input:active::-webkit-input-placeholder, .form-modal__input:hover::-webkit-input-placeholder, .form-modal__input:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.form-modal__input:active:-ms-input-placeholder, .form-modal__input:hover:-ms-input-placeholder, .form-modal__input:focus:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.form-modal__input:active::-ms-input-placeholder, .form-modal__input:hover::-ms-input-placeholder, .form-modal__input:focus::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.form-modal__input:active::placeholder, .form-modal__input:hover::placeholder, .form-modal__input:focus::placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.form-modal__button {
  margin-top: 47px;
  width: 100%;
  height: 77px;
  background: #8000ff;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 29rem;
  letter-spacing: 4px;
  font-weight: 700;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.form-modal__button:hover {
  -webkit-box-shadow: 0px 20px 40px #8c13d7;
          box-shadow: 0px 20px 40px #8c13d7;
}

.form-modal__button--smallMargin {
  margin-top: 32px;
  font-size: 25rem;
}

.form-modal__button--bigMargin {
  font-size: 25rem;
  margin-top: 12vh;
}

@media (max-width: 500px) {
  .form-modal__button--bigMargin {
    font-size: 20rem;
    margin-top: 40px;
  }
}

.form-modal__dopInfo {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 17rem;
  letter-spacing: 0.12em;
}

.form-modal__dopInfo--flexEnd {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-modal__text-info {
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  font-size: 22rem;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 0.8);
}

.form-modal__text-info ul {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-modal__text-info li {
  margin-top: 2px;
}

.form-modal__text-info h5 {
  margin-top: 5px;
}

.form-modal__text-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-modal__text-item span {
  margin-left: 11rem;
}

.checkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.checkBox input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.checkBox span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkBox span:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  background: #fff;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkBox > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #55ff00;
}

/* стили для активного чекбокса (при нажатии на него) */
.checkBox > input:not(:disabled):active + span::before {
  background-color: #55ff00;
  border-color: #55ff00;
}

/* стили для чекбокса, находящегося в фокусе */
.checkBox > input:focus + span::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkBox > input:focus:not(:checked) + span::before {
  border-color: #55ff00;
}

/* стили для чекбокса, находящегося в состоянии checked */
.checkBox > input:checked + span::before {
  border-color: #55ff00;
  background-color: #55ff00;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

@media (max-width: 480px) {
  html {
    font-size: 0.21vw;
  }
}

.itemImg {
  width: 13.8px;
  height: 11px;
}

.itemImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.mr30 {
  margin-right: 30px;
}

.modalInfo {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 360px;
  text-align-last: left;
  color: rgba(255, 255, 255, 0.8);
}

.modalInfo a {
  color: rgba(255, 255, 255, 0.8);
}

.modalInfo p {
  text-align: left;
  font-size: 14rem;
  letter-spacing: 1.5px;
  line-height: 20px;
}

.modalInfo__mt {
  margin-top: 7px;
}

.password {
  position: relative;
  width: 100%;
}

.password input {
  width: 100%;
}

.password-control {
  position: absolute;
  top: 34px;
  right: 8px;
  display: inline-block;
  width: 46px;
  height: 40px;
  background: url(/img/view.svg) 0 0 no-repeat;
}

.password-control.view {
  background: url(/img/no-view.svg) 0 0 no-repeat;
}

.icon-menu {
  display: none;
}

@media (max-width: 737px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 28px;
    right: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #828282;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer .messengers .logo1 {
  display: none;
}

.mt-60 {
  margin-top: 60px;
}

@media (max-width: 1000px) {
  .footer .messengers .social_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 950px) {
  .offers .main-wrapper .offers_slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .offers .main-wrapper .offers_text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
    padding-right: 20px;
  }
  .offers {
    padding: 56rem 0 60rem;
  }
  .footer .content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 870px) {
  nav .main-wrapper .nav_list ul a.nav_list-item {
    font-size: 9rem;
  }
  nav .main-wrapper .nav_list ul a.nav_list-item-button {
    font-size: 9rem;
  }
  nav .main-wrapper .nav_list ul a.nav_list-item-button {
    margin-right: 10rem;
  }
  .solutions__imgLeft {
    width: 141px;
  }
  .solutions__imgLeft img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .solutions__imgRight {
    width: 141px;
  }
  .solutions__imgRight img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .solutions .solutions_left > div {
    margin-right: 30rem;
  }
}

@media (max-width: 740px) {
  .main-wrapper {
    padding: 0 50rem;
  }
}

@media (max-width: 540px) {
  .main-wrapper {
    padding: 0 33rem;
  }
}

@media (max-width: 737px) {
  .header {
    height: 100%;
  }
  ._lock {
    overflow: hidden;
    background-color: #1c1c1c;
  }
  .menu__body {
    position: relative;
    z-index: 2;
    background-color: #1c1c1c;
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    text-align: center;
  }
  .menu__body:after {
    content: "";
    background: #1c1c1c;
    position: fixed;
    width: 100%;
    height: 85px;
    top: 0;
    left: 0;
  }
  .menu__body._active {
    opacity: 1;
    visibility: visible;
  }
  .nav_list {
    padding-top: 40px;
    position: relative;
    z-index: 20;
    padding-left: 20px;
  }
  .nav_list--first {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 30px;
  }
  .nav_list--last {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .nav_list--last .nav_list-item-change-lang {
    display: none;
  }
  nav .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  nav .main-wrapper .nav_list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  nav .main-wrapper .nav_list ul a.nav_list-item-button {
    font-size: 27rem;
    padding: 14rem 18rem 13rem;
  }
  nav .main-wrapper .nav_list ul a.nav_list-item {
    text-align: left;
    font-size: 25rem;
    padding-top: 25rem;
  }
  .header_left {
    margin-top: 30px;
  }
  .header .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .header .main-wrapper {
    height: 100%;
    position: relative;
  }
  .header .main-wrapper .header_right {
    position: absolute;
    top: 218rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .header .main-wrapper .header_right p:first-of-type {
    top: 72rem;
    left: calc(50% - 74rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(2) {
    top: 86rem;
    left: calc(50% + 70rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(3) {
    position: absolute;
    top: 154rem;
    right: calc(50% + 104rem -40rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(4) {
    top: 221rem;
    right: calc(50% + 92rem - 40rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(5) {
    top: 282rem;
  }
  .header .main-wrapper .header_right p:nth-of-type(6) {
    top: 316rem;
    left: calc(50% - 370rem - 40rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(7) {
    top: 306rem;
    right: calc(50% - 77rem - 40rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(8) {
    top: 362rem;
    left: calc(50% - 250rem - 40rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(9) {
    top: 435rem;
  }
  .header .main-wrapper h4 {
    font-size: 27rem;
  }
  .header .main-wrapper p.header_text {
    margin-top: 413px;
  }
  .offers .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offers {
    padding: 110rem 0 60rem;
  }
  .offers .main-wrapper .offers_text {
    max-width: 100%;
  }
  .offers .main-wrapper .offers_slider {
    width: 575rem;
    margin-top: 40px;
    margin-left: -21rem;
  }
  .solutions .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .solutions .solutions_left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .solutions .solutions_right {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    max-width: 90%;
    margin-left: 0;
  }
  .solutions .solutions__imgLeft {
    width: 283rem;
  }
  .solutions .solutions__imgRight {
    margin-top: 40rem;
    width: 283rem;
  }
  .help .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .help .main-wrapper .help_text {
    max-width: none;
    margin-right: 0;
  }
  .help .main-wrapper .help_text p {
    max-width: none;
    margin-right: 0;
  }
  .help_list {
    margin-top: 70px;
  }
  .improvement .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .improvement .main-wrapper .improvement_left h2 {
    margin-top: 90px;
    max-width: 310px;
  }
  .advertisers .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advertisers .main-wrapper .advertisers-left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 90px;
    margin: 90px 30px 40px 30px;
  }
  .advertisers .main-wrapper h2 {
    margin-top: 90px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    font-size: 40px;
  }
  .advertisers .main-wrapper .advertisers__textInfo {
    width: 100%;
  }
  .advertisers .main-wrapper .rates p {
    font-size: 22px;
  }
  .advertisers .main-wrapper .rates .rates-compare {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 70rem;
    max-width: 375px;
    margin: 0 auto;
  }
  .footer .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .content .logo {
    display: none;
  }
  .footer .messengers .logo1 {
    display: block;
    width: 214px;
  }
  .footer .messengers .logo1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footer .messengers h2 {
    margin-top: 30px;
    font-size: 35rem;
  }
  .footer .messengers h3 {
    font-size: 22rem;
  }
  .footer .messengers .social_links a {
    font-size: 20rem;
  }
  .footer .content h3 {
    font-weight: 800;
    font-size: 22rem;
  }
}

@media (max-width: 650px) {
  .header .main-wrapper .header_right p:first-of-type {
    top: 72rem;
    left: calc(50% - 74rem + 50rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(2) {
    top: 86rem;
    left: calc(50% + 70rem + 60rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(3) {
    position: absolute;
    top: 154rem;
    right: calc(50% + 104rem - 70rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(4) {
    top: 221rem;
    right: calc(50% + 92rem - 70rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(5) {
    top: 282rem;
    left: calc(50% - 220rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(6) {
    top: 316rem;
    left: calc(50% - 280rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(7) {
    top: 306rem;
    right: calc(50% - 77rem + 70rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(8) {
    top: 362rem;
    left: calc(50% - 250rem + 70rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(9) {
    top: 435rem;
    left: calc(50% - 26rem);
  }
}

@media (max-width: 580px) {
  .header .main-wrapper .header_right p:first-of-type {
    top: 72rem;
    left: calc(50% - 74rem + 75rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(2) {
    top: 86rem;
    left: calc(50% + 70rem + 85rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(3) {
    position: absolute;
    top: 154rem;
    right: calc(50% + 104rem - 95rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(4) {
    top: 221rem;
    right: calc(50% + 92rem - 95rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(5) {
    top: 282rem;
    left: calc(50% - 195rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(6) {
    top: 316rem;
    left: calc(50% - 220rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(7) {
    top: 306rem;
    right: calc(50% - 77rem + 95rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(8) {
    top: 362rem;
    left: calc(50% - 250rem + 95rem);
  }
  .header .main-wrapper .header_right p:nth-of-type(9) {
    top: 435rem;
    left: calc(50%);
  }
  .offers .main-wrapper .offers_slider {
    margin-left: 25rem;
  }
}

@media (max-width: 350px) {
  .offers {
    margin-top: -80px;
  }
}
/*# sourceMappingURL=popup.css.map */